<html>
    <header>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Ignacio R. Galieri</title>
    </header>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                Cube Summation by Ignacio R. Galieri
              </a>
            </div>
          </div>
        </nav>
        <div class="container bs-docs-container">
            <div class="row">
                <div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Terminal</h3>
                      </div>
                      <div class="panel-body">
                        <div id="term"></div>
                      </div>
                    </div>
                </div>
                <div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Bulk</h3>
                      </div>
                      <div class="panel-body">
                          <form>
                              <div class="form-group">
                                <label for="bulk-input" class="col-sm-1 control-label">Input:</label>
                                <div class="col-sm-5">
                                    <textarea id="bulk-input" class="form-control" rows="3" style="height: 250px;">
  2
  4 5
  UPDATE 2 2 2 4
  QUERY 1 1 1 3 3 3
  UPDATE 1 1 1 23
  QUERY 2 2 2 4 4 4
  QUERY 1 1 1 3 3 3
  2 4
  UPDATE 2 2 2 1
  QUERY 1 1 1 1 1 1
  QUERY 1 1 1 2 2 2
  QUERY 2 2 2 2 2 2
                                    </textarea>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="bulk-output" class="col-sm-1 control-label">Output:</label>
                                <div class="col-sm-5">
                                    <textarea id="bulk-output" class="form-control" rows="3" style="height: 250px;" disabled=""></textarea>
                                </div>
                              </div>
                          </form>
                      </div>
                      <div class="panel-footer">
                          <button id="btn-submit" type="button" class="btn btn-success btn-block">Submit</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/jquery.terminal/css/jquery.terminal.css">
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/jquery.terminal/js/jquery.terminal-min.js"></script>
        <script>
        /**
         * GetUsage
         *
         * @param  {Term}   term    Terminal Object
         * @param  {String} message Message to Print
         *
         * @return void
         */
        function getUsage ( term, message ) {
            var usage = 'Usage: <T> | <N> <M> | UPDATE <X> <Y> <Z> <W> | QUERY <X1> <Y1> <Z1> <X2> <Y2> <Z2>\n';
            usage += ' \n';
            usage += 'Constrains \n';
            usage += '1 <= T <= 50 \n';
            usage += '1 <= N <= 100 \n';
            usage += '1 <= M <= 1000 \n';
            usage += '1 <= x1 <= x2 <= N  \n';
            usage += '1 <= y1 <= y2 <= N  \n';
            usage += '1 <= z1 <= z2 <= N  \n';
            usage += '1 <= x,y,z <= N   \n';
            usage += '-10^9 <= W <= 10^9   \n';
            usage += ' \n';
            usage += ' \n';
            usage += message + '\n';
            term.echo(new String(usage));
        }
        /**
         * ValidateT
         *
         * @param  {String} t command
         *
         * @return {Boolean}
         */
        function validateT (t) {
            return t.match(/^\d+$/);
        }
        /**
         * ValidateNM
         *
         * @param  {String} t command
         *
         * @return {Boolean}
         */
        function validateNM (t) {
            return t.match(/^\d+ \d+$/);
        }
        /**
         * ValidateUpdate
         *
         * @param  {String} t command
         *
         * @return {Boolean}
         */
        function validateUpdate (t) {
            return t.match(/^UPDATE \d+ \d+ \d+ -?\d+$/);
        }
        /**
         * ValidateQuery
         *
         * @param  {String} t command
         *
         * @return {Boolean}
         */
        function validateQuery (t) {
            return t.match(/^QUERY \d+ \d+ \d+ \d+ \d+ \d+$/);
        }
        /**
         * ValidateOperation
         *
         * @param  {String} t command
         *
         * @return {Boolean}
         */
        function validateOperation (t) {
            return (validateUpdate(t) || validateQuery(t));
        }
        /**
         * OnT
         *
         * @param  {Socket.IO} socket   Socket.IO Client
         * @param  {String}    command  Command
         * @param  {Object}    cursor   Cursor
         * @param  {Function}  callback Callback
         *
         * @return {void}
         */
        function onT (socket, command, cursor, callback) {
            socket.emit('create-case', command);
            socket.removeAllListeners('create-case-reponse');
            socket.on('create-case-reponse', function(response){
                if (response == 'OK') {
                    var error = false;
                    var message = 'Enter matrix size and numbers operations (N M):';
                    cursor.limitTestCase = command;
                    cursor.currentStep++;
                    cursor.actualTest = 0;
                    callback(error, message);
                } else {
                    callback(true, response);
                }
            });
        }
        /**
         * OnNM
         *
         * @param  {Socket.IO} socket   Socket.IO Client
         * @param  {String}    command  Command
         * @param  {Object}    cursor   Cursor
         * @param  {Function}  callback Callback
         *
         * @return {void}
         */
        function onNM (socket, command, cursor, callback) {
            command = command.split(' ');
            socket.emit(
                'prepare-test',
                JSON.stringify({matrixSize:command[0],numberOperations:command[1]})
            );
            socket.removeAllListeners('prepare-test-reponse');
            socket.on('prepare-test-reponse', function(response){
                if (response == 'Please Add Operations') {
                    var error = false;
                    cursor.actualTest++;
                    cursor.limitOperations = command[1];
                    cursor.actualOperation = 0;
                    var message = 'Entrer Operation #'+(cursor.actualOperation + 1)+':';

                    if (cursor.actualTest <= cursor.limitTestCase) {
                        cursor.currentStep = 2;
                    }
                    callback(error, message);
                } else {
                    callback(true, response);
                }
            });
        }
        /**
         * OnUpdate
         *
         * @param  {Socket.IO} socket   Socket.IO Client
         * @param  {String}    command  Command
         * @param  {Object}    cursor   Cursor
         * @param  {Function}  callback Callback
         *
         * @return {void}
         */
        function onUpdate (socket, command, cursor, callback) {
            command = command.replace('UPDATE ', '');
            command = command.split(' ');
            var op = {
                method: 'UPDATE',
                params: command
            };
            socket.emit('run-operation', JSON.stringify(op));
            socket.removeAllListeners('run-operation-reponse');
            socket.on('run-operation-reponse', function(response){
                response = JSON.parse(response);
                var output = response[0];
                if (output === '') {
                    var error = false;
                    cursor.actualOperation++;
                    var message = 'Entrer Operation #'+(cursor.actualOperation + 1)+':';

                    if (cursor.actualOperation >= cursor.limitOperations) {
                        message = 'Enter matrix size and numbers operations (N M):';
                        cursor.currentStep = 1;
                        if (cursor.actualTest >= cursor.limitTestCase) {
                            message = 'Enter the number of test cases (T):';
                            cursor.currentStep = 3;
                        }
                    }
                    callback(error, message);
                } else {
                    callback(true, response);
                }
            });
        }
        /**
         * OnQuery
         *
         * @param  {Socket.IO} socket   Socket.IO Client
         * @param  {String}    command  Command
         * @param  {Object}    cursor   Cursor
         * @param  {Function}  callback Callback
         *
         * @return {void}
         */
        function onQuery (socket, command, cursor, callback) {
            command = command.replace('QUERY ', '');
            command = command.split(' ');
            var op = {
                method: 'QUERY',
                params: command
            };
            socket.emit('run-operation', JSON.stringify(op));
            socket.removeAllListeners('run-operation-reponse');
            socket.on('run-operation-reponse', function(response){
                response = JSON.parse(response);
                var output = response[0];
                if (Number.isInteger(output)) {
                    var error = false;
                    cursor.actualOperation++;
                    var message = 'Entrer Operation #'+(cursor.actualOperation + 1)+':';

                    if (cursor.actualOperation >= cursor.limitOperations) {
                        message = 'Enter matrix size and numbers operations (N M):';
                        cursor.currentStep = 1;
                        if (cursor.actualTest >= cursor.limitTestCase) {
                            message = 'Enter the number of test cases (T):';
                            cursor.currentStep = 0;
                        }
                    }
                    callback(error, message, output);
                } else {
                    callback(true, response);
                }
            });
        }
        /**
         * onOperation
         *
         * @param  {Socket.IO} socket   Socket.IO Client
         * @param  {String}    command  Command
         * @param  {Object}    cursor   Cursor
         * @param  {Function}  callback Callback
         *
         * @return {void}
         */
        function onOperation (socket, command, cursor, callback) {
            if (validateUpdate(command)) {
                onUpdate(socket, command, cursor, callback)
            } else {
                onQuery(socket, command, cursor, callback)
            }
        }

        jQuery(function($, undefined) {
            "use strict";
            var options ={
                transports: ['websocket'],
                'force new connection': true
            };
            var socket = io('ws://localhost:8080', options);
            socket.on('connect', function () {
                socket.on('bulk-reponse', function(response){
                    var output = '';
                    response = JSON.parse(response);
                    $.each(response, function (index, value) {
                        if (value !== '') {
                            output = output + value + '\r\n';
                        }
                    });
                    $('#bulk-output').val(output);
                });
                socket.on('begin', function(data) {
                    $('#btn-submit').click(function (event) {
                        event.preventDefault();
                        var input = $('#bulk-input').val().trim();
                        var lines = input.split(/\r\n|\r|\n/g);
                        var obj = {};
                        var sizeTest = 0;
                        var sizeOperation = -1;
                        var actualTest = -1;
                        var error = false;
                        $.each(lines, function (index, value) {
                            if (error) {
                                return;
                            }
                            value = value.trim();
                            if (validateT(value)) {
                                sizeTest = value;
                                obj.testCases = [];
                            } else if (validateNM(value)) {
                                actualTest++;
                                value = value.split(' ');
                                var t = {
                                    matrixSize: value[0],
                                    operations: []
                                };
                                obj.testCases.push(t);
                                sizeOperation = value[1];
                            } else if (validateUpdate(value)) {
                                value = value.replace('UPDATE ', '');
                                value = value.split(' ');
                                var op = {
                                    method: 'UPDATE',
                                    params: value
                                }
                                obj.testCases[actualTest].operations.push(op);
                                if (sizeOperation < obj.testCases[actualTest].operations.length) {
                                    alert('Exceeds the number of operations');
                                    error = true;
                                }
                            } else if (validateQuery(value)) {
                                value = value.replace('QUERY ', '');
                                value = value.split(' ');
                                var op = {
                                    method: 'QUERY',
                                    params: value
                                }
                                obj.testCases[actualTest].operations.push(op);
                                if (sizeOperation < obj.testCases[actualTest].operations.length) {
                                    alert('Exceeds the number of operations');
                                    error = true;
                                }
                            } else {
                                alert('Invalid Input Line:'+ value);
                                error = true;
                            }
                        });
                        if (sizeTest != obj.testCases.length) {
                            alert('Exceeds the number of testcases');
                            error = true;
                        }
                        if (!error) {
                            socket.emit('bulk', JSON.stringify(obj));
                        }
                    });
                    var currentOrden = 'Enter the number of test cases (T): ';
                    var steps = [
                        { validate: validateT, doIt: onT},
                        { validate: validateNM, doIt: onNM},
                        { validate: validateOperation, doIt: onOperation}
                    ];
                    var cursor = {
                        currentStep: 0,
                        limitTestCase: 0,
                        limitOperations: 0,
                        actualTest: 0,
                        actualOperation: 0
                    };
                    $('#term').terminal(
                        function(command, term) {
                            command = command.trim();
                            if (command !== '') {
                                try {
                                    if (command.match(/^help$/)) {
                                        getUsage(term, currentOrden);
                                    } else if (steps[cursor.currentStep].validate(command)) {
                                        term.pause();
                                        steps[cursor.currentStep].doIt(
                                            socket,
                                            command,
                                            cursor,
                                            function (error, message, output) {
                                                if (output !== undefined) {
                                                    term.echo('[[b;green;black]'+output+']');
                                                }
                                                if (!error) {
                                                    currentOrden = message;
                                                    term.echo(new String(message));
                                                } else {
                                                    term.error(new String(message));
                                                }
                                            }
                                        );
                                        term.resume();
                                    } else {
                                        var usage = "The command '"+command.trim()+"' not is allowed, type 'help' for help.";
                                        term.error(new String(usage));
                                    }
                                } catch (e) {
                                    term.error(new String(e));
                                }
                            } else {
                               term.echo('');
                            }
                        },
                        {
                            greetings: null,
                            onInit: function(term) {
                                term.echo('[[bu;green;black]Cube Summation Terminal]');
                                term.echo(
                                  'Ignacio R. Galieri (C) 2016\n'+
                                  'any time type "help" for more information. \n \n'+
                                  currentOrden
                                );
                            },
                            name: 'cube-summation',
                            height: 300,
                            prompt: ''
                        }
                    );
                });
            });
        });
        </script>
    </body>
</html>
